html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.main-box {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

h2 {
  display: inline;
  font-family: "Open Sans", sans-serif;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  line-height: 1.4;
  font-size: 4rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-style: italic;
  margin: 1rem 0 0;
}

.banner {
  padding-left: 1.5rem;
  padding-right: 1rem;
  max-height: 500px;
  max-width: 50em;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  transform: translateX(-50%);
}
